@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
	background-color:#f9fbff;
	margin: 0;
	color:#555;
}

*{
    box-sizing: border-box;
}

.header{
	margin-top: 150px;
	text-align: center;
	font-size: 100px;
	font-family:'Roboto';
	font-weight: 1500;
	color: rgba(0, 0, 0, 0.60);
}

.content{
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.wrapper{
	margin-left: 100px;
	margin-right: 100px;
	background: rgba(0, 0, 0, 0.60);
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.item{
	text-decoration: none;
	font-family:'Roboto';
	font-size: 20px;
	color: white;
	padding: 10px;
}

.item:hover{
	color: #cccccc;
}

.menu{
	text-align: center;
	
}

.ftable{
	border-collapse: collapse;
    width: 100%;
	font-family:'Roboto';
	border: 1px solid #ddd;
	
}

th, td {
    text-align: center;
    padding: 8px;
	border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #698aaa;
    color: white;
	
}

/*Search Bar*/
.search-forum {
	margin-top: -10px;
    text-align: center;
	padding: 20px;
}


.search-forum button {
    padding: 8px 10px 8px 10px;
    margin-top: 13px;
	margin-right: 2px;
    background-color: #3c4b68;
    font-size: 17px;
    border: none;
    cursor: pointer;
	color: white;
	-webkit-transition: 0.5s;
    transition: 0.5s;
	border-radius: 5px;
}

.search-forum button:hover {
    background: #5b719b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
    width: 300px;
    margin-top: 12px;
    box-sizing: border-box;
    border: 1px solid #3c4b68;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 20px 8px 7px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    vertical-align: bottom;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
	outline: none;
    width: 500px;
}

/* Image of author */
.imageForum{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:60px;
	height:60px;
	border-radius: 75%;	
}

/* Columns */
.category_row a{
	font-size: 20px;
	text-decoration: none;
}

.topic_row a{
	font-size: 20px;
	text-decoration: none;
}

.posts_row a{
	font-size: 20px;
	text-decoration: none;
}

.author_row a{
	font-size: 18px;
	text-decoration: none;
}

/*Hover rows*/
.category_row a:hover{
	text-decoration: underline;
}

.topic_row a:hover{
	text-decoration: underline;
}

.posts_row a:hover{
	text-decoration: underline;
}



