/* Style the top navigation bar */
.topnav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    background-color: #7ea6ce;
    text-align: left;
    margin: 0 auto;
}

/* Style the top navigation links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    font-family:'Roboto';
    font-size: 20px;
    font-weight:300;
    text-decoration: none;
}

.topnav .search-container {
    vertical-align: center;
}


.topnav .search-container button {
    float: right;
    padding: 8px 10px 8px 10px;
    margin-top: 13px;
    margin-right: 3px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.topnav input[type=text] {
    width: 7%;
    margin-top: 12px;
    margin-right: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    float: right;
    padding: 8px 20px 8px 7px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    vertical-align: bottom;
}

input[type=text]:focus {
    width: 20%;
}

/* Change color on hover */
.topnav a:hover {
     color: #3c4b68;
}
